<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzsMapper">
    
    <!-- 添加班级 -->
    <insert id="insertClazz">
        insert into clazz (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>
    
    <!-- 更新班级 -->
    <update id="updateClazz">
        update clazz
        set name = #{name},
            room = #{room},
            begin_date = #{beginDate},
            end_date = #{endDate},
            master_id = #{masterId},
            subject = #{subject},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    
</mapper>

