<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">
    
    <!-- 添加员工 -->
    <insert id="insertEmp">
        insert into emp (username, name, gender, image, job, entrydate, dept_id, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{image}, #{job}, #{entryDate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>

    <!-- 更新员工 -->
    <update id="updateEmp">
        update emp
        set username = #{username},
            name = #{name},
            gender = #{gender},
            image = #{image},
            job = #{job},
            entrydate = #{entryDate},
            dept_id = #{deptId},
            update_time = #{updateTime}
        where id = #{id}
    </update>

    <!-- 批量删除员工 -->
    <delete id="deleteEmp">
        delete from emp
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>
